<html>
<head>
	<title>Nightlife Coordination App</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div id="page-container">
		<h1 id="page-title">Nightlife Coordination App</h1>
		<br>
		<% if(!user) { %>
			<form id="google-login" action="/auth/google" method="get">
			    <input type="submit" value="Login with Google">
			</form>
			<br>
			<br>
		<% } else { %>
			<h3 id="user-welcome">Welcome, <%= user.username %>!</h3>
			<br>
		<% } %>
		<form id="location-search" action="/search" method="post">
			<input id="location" name="searchLocation" type="text">
			<input type="submit" value="Search">
		</form>
		<br>
		<% if(location) { %>
			<h3 id="results-title">Results for <%= location %>: </h3>
		<% } %>
		<div id="results-list">
			<% if(searchResults) { %>
				<% for(var i=0; i < searchResults.length; i++) { %>
					<form action="/addUserGoing" method="post">
						<div id="result">
							<img id="result-image" src="<%= searchResults[i].image_url %>">
							<p id="result-name"><%= searchResults[i].name %></p>
							<p id="going-counter">
								<%= locationUserCount[i] %> Going
							</p>
						</div>
						<input type="hidden" name="locationId" value="<%= searchResults[i].id %>">
						<input type="hidden" name="userId" value="<%= user.userId %>">
						<% if(userGoing[i]) { %>
							<div id="user-going-options">
								<p id="user-going-message">YOU ARE GOING!</p>
								<input id="remove-going-btn" type="submit" value="No Longer Going?" formaction="/deleteUserGoing" formmethod="post">
							</div>
						<% } else if(user) { %>
							<input type="submit" value="I'm Going!">
						<% } %>
					</form>
					<hr>
					<br>
				<% } %>
			<% } %>
		</div>
	</div>
</body>
</html>